.header {
  background: var(--background-color);
  padding: 20px;
  text-align: center;
}

.headerTitle {
  color: #000;
}

.content {
  padding: 20px;
}

.card {
  margin-bottom: 16px;
  border: 1px solid var(--border-color);
}

.ant-card-body {
  padding: 20px;
}

.item-inside {
  background-color: #f9f9f9;
}
